*~
\#*#
*.hi
*.o
*.exe
*.aux
*.bbl
*.blg
*.dvi
*.log
*.pdf
*.ptb
*.tex
*.out
*.dyn_hi
*.dyn_o
*.fdb_latexmk
*.fls
paper.hs
dump.txt
bench/
.cabal-sandbox/
cabal.sandbox.config
nat_bench/

